@typeparam TItem

<LoadingView LoadingOperation="@RootLoading">
    <Sve.Blazor.InfiniteScroll.Components.InfiniteScroll ObserverTargetId="@_observerTargetId" ObservableTargetReached="(e) => LoadMoreItemsAsync()">
        @if (Items.Count > 0){
            foreach (var item in Items)
            {
                @ItemTemplate(item)
            }
        }
        else{
            @NoItemsContent
        }

        <div id="@_observerTargetId">
            @if (HasMoreItems)
            {
                <div class="d-flex pa-2 justify-center">
                    <MudProgressCircular Size="Size.Small" Color="Color.Primary" Indeterminate="true" />
                </div>
            }
        </div>
    </Sve.Blazor.InfiniteScroll.Components.InfiniteScroll>
</LoadingView>
