@using MudBlazor
@inject Blazor.Localization.BlazorComponentLocalizer Localizer

<div class="pa-4">
    <MudText Typo="Typo.h6" Class="mx-auto" Align="Align.Center">@Localizer.InfiniteScrollNoItemsContentLabel</MudText>
</div>
